:root {
    --primary: #2071ac;
    --white-900: #eceff1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
}